<div class="find-new-backer" >
<%= form_tag({controller: "search", action: "index"}, method: "get") do %>
    <div class="input-group mb-3">
     <%= email_field_tag :f_name, params[:f_name], placeholder: "Email", class: 'form-control' %>
     <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
    </div>
<% end %>

<%= form_tag(:method => "get") do %>
    <div class="input-group mb-3">
        <%= text_field_tag :f_name, params[:f_name], placeholder: "First Name", class: 'form-control' %>
        <%= text_field_tag :l_name, params[:l_name], placeholder: "Last Name", class: 'form-control'  %>
        <div class="input-group-append">
        <%= submit_tag "Search", :name => nil, class: 'btn btn-outline-secondary', type: 'button' %>
        </div>
    </div>
    <% end %>
</div>