
<div class = 'backer-tab-container'>
  <ul class="pagination  ">
    <li class="page-item ">
      <a class="page-link backer-table-striped" id='backer-tab-active' >Backers</a>
    </li>
    <li class="page-item"><%= link_to 'Daters', dashboard_path(current_user,tab:'dater'),class:'page-link', id:'dater-tab-not-active'%></li>
  </ul>
</div>
<div class="card-body backer-tab-body">
  <div class = 'backer-tab-header col-md-8'>
    <h4>Welcome to the backer area. Here you can help your daters find a mate or search for new daters</h4>
  </div>
  <table class="table table-striped">
  <thead>
    <tr class= 'backer-table-striped'>
      <td scope="col">Dater</td>
      <td scope="col">Percent Complete</td>
      <td scope="col">Answer Questions about your dater</td>  
      <td scope="col">Find a mate for them</td>
    </tr>
  </thead>
  <tbody>
    <% current_backer.daters.each  do |dater|%>
    <tr class='backer-table-row'>
      <td > <%= link_to image_tag(dater.user.image.url), users_path(dater), id:'dater-img-td'%></td>
      <td>50%</td>
      <td><%= link_to 'Questions', new_backer_dater_comment_path(current_user, dater), class:'btn-primary btn-sm',id:'d-q-button'%></td>
      <td><%= link_to 'Find their mate', users_path(dater), class:'btn-primary btn-sm',id:'find-mate-for-backer'%></td>
    </tr>
    <% end %>     
    </tbody>
  </table>
  <h6>Or add a new dater below</h6>
  <%= render 'add_dater'%>
</div>  
