


<div class = "dater-tab-container">
    <ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link active" id="active"> Dater Corner</a>
    </li>
    <li class="nav-item">
        <%= link_to 'Backer Corner', dashboard_path(current_user, tab:'backer'), class:'nav-link',id:"not-active" %>
    </li>
    </ul>
</div>

<div class="card" id='dater-tab' >
    <div class="card-body" id="dater-tab-body">
        <div class = 'tab-info'>
            <h5 class="card-title">Daters </h5>
            <h6>Welcome to the dater's corner</h6>
            <p>Here you can explore your pool, look at your backers or add a new backer</p>
        </div>
        <div class = 'dater-tab-buttons'>
            <a class ="primary-btn card-button" id="pool-button"> Your pool</a>
            <a class ="primary-btn card-button" id="invite-backer-button"> Add Backers </a>
       
        </div>
        <%= render 'pool'%>
        <%= render 'list_backer'%>
        <%= render 'add_backer'%>
        <%= render 'match_preferences'%>
    </div>
</div>
