


<div class='card  card-profile text-center col-md-2' id='dash-side' >
  <div class = 'card-header'><%= @dater.f_name %></div>
  <img alt='' class='card-img-top' src='https://s3.amazonaws.com/pytdating/andrea-reiman-417352-unsplash.jpg'>
  <div class='card-block'>
         <% if @dater.user.image %>
              <%= image_tag @dater.user.image.url, class:'card-img-profile' %>
            <% end %>
    <h4 class='card-title'>
    <%= @dater.f_name%>    
    </h4>
      <div class="card-body ">
      <table class = 'table table-striped'>
      <thead>
      </thead>
      <tbody>
        <tr><td>Smoking</td></tr>
        <%if @dater.trait.smoker == 'dont_care'%>
            <tr><td>doesn't smoke</td></tr>
        <%else%>
            <tr><td><%= @dater.trait.smoker%></td></tr>
        <%end%> 
        <tr><td>Drinking</td></tr>
        <tr><td><%= @dater.trait.alcohol%></td></tr>
        <tr><td>Gender</td></tr>
        <tr><td><%= @dater.trait.gender%></td></tr>
        <tr><td>Body Type</td></tr>
        <%if @dater.trait.body_type == 'any'%>
            <tr><td>
            Decline to answer
            </tr></td>
        <%else%>
            <tr><td><%= @dater.trait.smoker%></td></tr>
        <%end%> 
        <tr><td>Religiosity</td></tr>
        <tr><td><%= @dater.trait.religiosity%></td></tr>
        <tr><td>Religion</td></tr>
        <tr><td><%= @dater.trait.religion%></td></tr>
        <tr><td>ethnicity</td></tr>
        <tr><td><%= @dater.trait.ethnicity%></td></tr>
        </tbody>
      </table>
        
      </div>

  </div>
</div>


