        <div class="card-body  " id ='q1-comment-box comment-box' >
            <p class="card-text" ><%=@question1.question%></p>
                <textarea type="text" id='q1-comment-answer'></textarea>
                <%= hidden_field_tag 'backer_id', "#{@dater.id}", id:'backer_id_hidden' %>
                <%= hidden_field_tag 'dater_id', "#{@backer.id}", id:'dater_id_hidden'  %>
                <%= hidden_field_tag 'q', "#{@question1.id}", id:'q1_id_hidden'  %>
                <p><%= submit_tag 'submit', class: 'primary-btn btn-md', id:"q1-comment-submit" %></p>
            </p>
        </div>