
<%= render 'dashboard/dash_side'%>
<div id = "convo-container">
  <div class="card" id="">
    <div class = 'card-header'>New Conversation with   <%= @recipient.f_name %></div>
      <%= form_tag conversations_path(@recipient), method: :post do %>
      <div class="card-body">
          <p class="card-text"><%= label_tag :subject %></p>
          <%= text_field_tag :subject, nil, placeholder: "Subject", class:"input-search" %>
          <p><%= label_tag :body %></p>
          <%= text_area_tag :body, nil, placeholder: "Message" %>
          <p><%= submit_tag "Send Message", class: "primary-btn btn-md" %></p>
      <% end %>
      </div>
      </div>
    </div>