
  
<%= render 'dashboard/dash_side'%>
<div class ='col-md-offset-1 col-md-10'>
  <div class = 'message-show-container'>
    <%@conversations.each do |receipt| %>
    <div class="card col-md-4" id="message-card">
      <div class="card-header"> <%= receipt.message.subject %></div>
      <div class="card-body"id="">
          <p class="card-text"> <%= receipt.message.body %></p>
      </div>
      <%= button_to 'Delete', conversation_message_path(params[:id],receipt.id), method: :delete, class:'primary-btn btn', id:'delete-message' %>  
    </div>
    <% end %>
  </div>
  <div class="card col-md-3" id="new-message">
    <div class="card-header">New Message </div>
    <%= form_tag conversation_messages_path(@conversation) ,method: :post do  %>
      <div class="card-body ">
          <p class="card-text"><%= label_tag :subject %></p>
          <p><%= text_field_tag :subject,nil, class:'form-control' %></p>
          <p><%= label_tag :body %></p>
          <p><%= text_area_tag :body,nil, class:'form-control' %></p>
          <p><%= submit_tag "Send Message", class: "primary-btn btn-md" %></p>
      </div>
    <% end %>
  </div>    
</div>
  