
  
<%= render 'dashboard/dash_side'%>
  

<div class ='col-md-offset-1 col-md-10'>
<div class = 'message-show-container'>
<div class="card-header">
<div>

<%@conversations.each do |receipt| %>
  <div class="card" id="message-card">
    <div class="card-header">
    <h5 class="card-title"> <%= receipt.message.subject %></h5>
    </div>
    <div class="card-body">
        <p class="card-text"> <%= receipt.message.body %></p>
    </div>
    <p><%= button_to 'Delete', conversation_message_path(params[:id],receipt), method: :delete, class:'primary-btn btn' %>  </p>
  </div>
<% end %>
     
  </div>
<div id = "convo-container">
      <div class="card" id="message-card">
      <div class="card-header">
      <h5 class="card-title">  New Message </h5>
      </div>
        <%= form_tag conversation_messages_path(@conversation) ,method: :post do  %>
      <div class="card-body">
          <p class="card-text"><%= label_tag :subject %></p>
          <p><%= text_field_tag :subject,nil, class:'input-search' %></p>
          <p><%= label_tag :body %></p>
          <p><%= text_area_tag :body %></p>
          <p><%= submit_tag "Send Message", class: "primary-btn btn-md" %></p>
      <% end %>
      </div>
    </div>
    </div>
    
    </div>
  