<div class = 'dashboard-container'>
  <div class="card col-md-2 dash-side " >
  <div class = 'side-navatar'>
          <% if !current_user.image.nil? %>
          <%= image_tag current_user.image.url %>
        <% end %>
  </div>
  <div class="card-body ">
      <%= link_to 'Profile',user_path(current_user), class:"primary-btn btn-md"  %>
      <%= link_to 'Gallery', users_path, class:"primary-btn btn-md"%>
      <%= link_to 'Messages',conversations_path, class:"primary-btn btn-md" %>
  </div>
</div>
<div class = 'user-container'>
    <div class="card profile-card">
        <div class="card-header">
            About You
        </div>
        <div class="card-body">
            <p class="card-text"><%= current_dater.trait.other%></p>
        </div>
      <%= link_to 'Edit',nil, class:"primary-btn btn-md",id:"edit-about-button"  %>
       <div class = 'about-you'>
        <%= form_for @dater.trait do |f| %>
            <p>  <%= f.text_area :other, class:'form-control'%></p>
            <p>  <%= f.submit "Update" , class: "primary-btn btn-md" %></p>
        <% end %>
        </div>
    </div>
        <%= render 'q_1_modal'%>
    
    <div class="card profile-card">
        <div class="card-header">
            What your backers say about you
        </div>
        <div class="card-body">
            <h5 class="card-title">He's good guy</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
      <%= link_to 'Edit your profile',nil, class:"primary-btn btn-md", id:"edit-profile-button" %>
      <%= link_to 'Edit your mate preference',nil, class:"primary-btn btn-md",id:"edit-mate-button"  %>
      <%= link_to 'Answer Questions',nil, class:"primary-btn btn-md",id:"answer-questions"  %>
    
    <div class = 'edit-profile-container'>
        <div class="card profile-card edit-profile">
            <div class="card-header">
                Edit Your Profile
            </div>
        <%= form_for @user do |f| %>
            <p>  <%= f.label :First_Name %></p>
            <p>  <%= f.text_field :f_name, class:'form-control'%></p>
            <p>  <%= f.label :Last_Name %></p>
            <p>  <%= f.text_field :l_name, class:'form-control'%></p>
            <p>  <%= f.label :Image %></p>
            <p>  <%= f.file_field :image, class:'form-control'%></p>
            <p>  <%= f.submit "Update" , class: "primary-btn btn-md" %></p>
        <% end %>
        </div>
        <%= render 'edit_mate_prefs'%>
        <%= render 'edit_traits'%>        
        </div>
    </div>
</div>
