        <div class="card profile-card edit-mate-preference">
            <div class="card-header">
                Edit Your Mate Preferences 
            </div>
                <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Trait</th>
                <th scope="col">Selection</th>
            </tr>
            </thead>
            <tbody>
        <%= form_for @dater.mate_preference do |f| %>
             <tr>
                <td><%= f.label :min_height %></td>
                <td>
                    <%=  number_field_tag "min_height_ft", nil, in: 4...10, id: 'number-input', value:"#{current_dater.mate_preference.min_height/12}",  :style => 'backgound-color: green' %> ft
                    <%= number_field_tag "min_height_in", nil, in: 0...12, id: 'number-input', value:"#{current_dater.mate_preference.min_height%12}" %> in 
                </td> 
            </tr>
             <tr>
                <td><%= f.label :max_height %></td>
                <td>
                    <%=  number_field_tag "max_height_ft", nil, in: 4...10, id: 'number-input', value:"#{current_dater.mate_preference.max_height/12}"%> ft
                    <%= number_field_tag "max_height_in", nil, in: 0...12, id: 'number-input', value:"#{current_dater.mate_preference.max_height/12}" %> in 
                </td> 
            </tr>
            <tr>
                 <td><%= f.label :smoker %></td>
                 <td><%= f.select :smoker, MatePreference.smokers.map { |key, value| [key.humanize, key] }, class: "btn btn-secondary dropdown-toggle", id:"dropdownMenu2", class:" form-control"%></td>
            </tr>
            <tr>
                 <td><%= f.label :religiosity %></td>
                 <td><%= f.select :religiosity, MatePreference.religiosities.map { |key, value| [key.humanize, key] }, class: "btn btn-secondary dropdown-toggle", id:"dropdownMenu2"%></td>
            </tr>
            <tr>
                 <td><%= f.label :religion %></td>
                 <td><%= f.select :religion, MatePreference.religions.map { |key, value| [key.humanize, key] }, class: "btn btn-secondary dropdown-toggle", id:"dropdownMenu2"%></td>
            </tr>
            <tr>
                <td><%= f.label :alcohol %></td>
                <td><%= f.select :alcohol, MatePreference.alcohols.map { |key, value| [key.humanize, key] },{class:" form-control"} %></td>
            </tr>
            <tr>
                <td> <%= f.label :body_type %></td>
                <td><%= f.select :body_type, MatePreference.body_types.map { |key, value| [key.humanize, key] } %></td>
            </tr>
          <tr>
                <td> <%= f.label :has_kids %></td>
                <td><%=  f.select :has_kids, [['No Kids', false], ['Has Kids', true]]%></td>
            </tr>
            <tr>
                <td> <%= f.label :wants_kids %></td>
                <td><%= f.select :wants_kids, MatePreference.wants_kids.map { |key, value| [key.humanize, key] } %></td>
            </tr>
            <tr>
                <td> <%= f.label :education %></td>
                <td><%= f.select :education, [['Not a college Grad', false], ['Collage Grad', true]] %></td>
            </tr>
            <tr>
                 <td><%= f.label :politicalness %></td>
                 <td><%= f.select :politicalness, MatePreference.politicalnesses.map { |key, value| [key.humanize, key] }, class: "btn btn-secondary dropdown-toggle", id:"dropdownMenu2"%></td>
            </tr>
            <tr>
                <td> <%= f.label :political_leaning %></td>
                <td><%= f.select :political_leaning, MatePreference.political_leanings.map { |key, value| [key.humanize, key] } %></td>
            </tr>
            <tr>
                <td> <%= f.label :zip_radius %></td>
                <td> <%= f.number_field "zip_radius", in: 1...100, id: 'number-input'%> </td>
            </tr>
            <tr>
                <td><%= f.label :has_pets %></td>
                <td><%= f.select :has_pets, MatePreference.has_pets.map { |key, value| [key.humanize, key] } %></td>
                </tr>            
            <tr>
                <td> <%= f.label :orientation %></td>
                <td><%= f.select :orientation, MatePreference.orientations.map { |key, value| [key.humanize, key] } %></td>
            </tr>
            <tr>
                <td><%= f.label :gender %></td>
                <td><%= f.select :gender, MatePreference.genders.map { |key, value| [key.humanize, key] } %></td>
                </tr>            
    </tbody>
  </table>
              <%= f.submit "Update" , class: "primary-btn btn-md" %>
        <% end %>
        </div>