        <div class="card profile-card show-traits">
            <div class="card-header">
                This dater's Traits
            </div>
                <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Trait</th>
                <th scope="col">Feels</th>
            </tr>
            </thead>
            <tbody>
             <tr>
                <td> Height</td>
                <td>
                    <%= @user.daters.first.trait.height/12%> ft
                    <%= @user.daters.first.trait.height%12%> in
                </td> 
            </tr>
            <tr>
                 <td> Smoker</td>
                 <td><%= @user.daters.first.trait.smoker %></td>
            </tr>
            <tr>
                 <td> Religiosity</td>
                 <td><%= @user.daters.first.trait.religiosity%></td>
            </tr>
            <tr>
                 <td> Religion</td>
                 <td><%= @user.daters.first.trait.religion%></td>
            </tr>
            <tr>
                <td> Relationship to alcohol</td>
                 <td><%= @user.daters.first.trait.alcohol%></td>
            </tr>
            <tr>
                <td> Body Type</td>
                 <td><%= @user.daters.first.trait.body_type%></td>
            </tr>
            <tr>
                <td> Kids</td>
                 <td><%= @user.daters.first.trait.has_kids%></td>
            </tr>
            <tr>
                <td>  Feelings about kids </td>
                 <td><%= @user.daters.first.trait.wants_kids%></td>
            </tr>
            <tr>
                <td>  Education </td>
                 <td><%= @user.daters.first.trait.education%></td>
            </tr>
            <tr>
                <td>  Feels about politics </td>
                 <td><%= @user.daters.first.trait.politicalness%></td>
            </tr>
            <tr>
                <td>  Poltical Leanings</td>
                 <td><%= @user.daters.first.trait.political_leaning%></td>
            </tr>
            <tr>
                <td> ZipCode</td>
                 <td><%= @user.daters.first.trait.zip%></td>  
            </tr>
            <tr>
                <td> Pets</td>
                 <td><%= @user.daters.first.trait.has_pets%></td>  
                </tr>            
            <tr>
                <td>  Sexual Orientation</td>
                 <td><%= @user.daters.first.trait.orientation%></td>  
            </tr>
            <tr>
                <td>Gender </td>
                 <td><%= @user.daters.first.trait.gender%></td>  
                </tr>            
            </tbody>
        </table>
        </div>
    </div>