<%=render 'dashboard/visitor_profile_side'%>
<div class = 'user-parent col-md-6'>
    <div class = 'user-container'>
        <div class="card profile-card">
            <div class="card-header">
                <%= @dater.f_name %>
                <%= @dater.l_name %>
            </div>
            <div class="card-body">
                <h5 class="card-title">Location</h5>
                <p class="card-text"><%= ZipCodes.identify("#{@dater.trait.zip}")[:city] %></p>
            </div>
        </div>
        <div class="card profile-card">
            <div class="card-header">About</div>
            <div class="card-body"><%="#{Faker::Hobbit.quote}"%></div>
        </div>
        <div class="card profile-card">
            <div class="card-header">
                What <%=@dater.f_name%>'s backers say about them
            </div>
            <%= render 'list-questions'%>
        </div>
    </div>
</div>
<div class = 'user-right-side'>
    <%= link_to 'Send Message', new_conversation_path(recipient: @user), class:"primary-btn btn-md" %>
    <% if params[:searching_for] %>
        <%= link_to "Add to your dater's pool", edit_user_pool_path(@user, searching_for: params[:searching_for]), method: :put, class:"primary-btn btn-md" %>       
    <% else %>
        <%= link_to 'Add to your pool', edit_user_pool_path(@user), method: :put, class:"primary-btn btn-md" %>
    <% end %>
    <div class = 'personality-stats-show'>
        <h5>How <%=@dater.f_name%>'s backers rate them</h5>
        <% Personality.traits.each do |trait|%>
        <div class = 'slider-title'> <%=trait.to_s.capitalize%></div>
        <div class = 'parent-slider'>
            <div class = 'child-slider' style = 'width:<%= @dater.personality_avg(trait)%>%;background-color:<%= slider_colors.sample%>'></div>
        </div>
        <% end %>
    </div>
</div>  