
<% if false%>
    <%= render 'dashboard/dash_side'%>
<%end%>
<% if params[:format]%>
    <%= render 'search_for_filter'%>
<%else%>
    <%= render 'filter'%>
<%end%>
    <div class=" col-md-9 card" id="gallery-container">
    <h5 class="card-header">All Daters</h5>
        <div id='gallery-cards-container'>
        <% @daters.each do |dater| %>
            <div class="card dater-card">
                    <h5 class="card-header" id="card-body"><%= dater.f_name %></h5>
            <% if dater.user.image %>
            <% if params[:format] %>
                <%= link_to image_tag(dater.user.image.url, class:'card-img-top'), user_path(dater.id,searching_for: params[:format]) %>
            <% else %>
                <%= link_to image_tag(dater.user.image.url, class:'card-img-top'), user_path(dater.id) %>
            <% end %>
            <% end %>    
                <ul class="list-group list-group-flush">
                    <% if dater.trait.zip > 0%>
                    <li class="list-group-item"><%= ZipCodes.identify("#{dater.trait.zip}")[:city] %></li>
                    <%end%>
                    <li class="list-group-item"><%= dater.trait.orientation%></li>
                </ul>
                <div>
                    <a href="#" class="card-link"></a>
                </div>
            </div>
        <% end %>
        </div>
    </div>